<div class="parent-container">
    <div>
        <h1>Welcome!</h1>
    </div>
    <div class="logs-container">
        <p id="messageLogs"></p>
    </div>
    <div class="chat-container">
        <input id="chatbox" placeholder="Send message">
    </div>
</div>
